# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [35]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [36]:
cars1=pd.read_csv('cars1.csv',sep=',')
cars2=pd.read_csv('cars2.csv',sep=',')
print(cars1)
print(cars2)

mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
193  24.0          6           200         81    3012          17.6     76
194  22.5          6           232         90    3085          17.6     76
195  29.0          4            85         52    2035          22.2     76
196  24.5          4            98         60    2164          22.1     76
197  29.0          4            90         70    1937          14.2     76

     origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0         1  chevrolet chevelle malibu         NaN          NaN          NaN
1         1          buick skylark 320         NaN          NaN          NaN
2         1         plymouth satellite         NaN          NaN          NaN
3         1              amc rebel sst         NaN          NaN          NaN
4         1                ford torino         NaN          NaN          NaN
..      ...                        ...         ...          ...          ...
193       1              ford maverick         NaN          NaN          NaN
194       1                 amc hornet         NaN          NaN          NaN
195       1         chevrolet chevette         NaN          NaN          NaN
196       1            chevrolet woody         NaN          NaN          NaN
197       2                  vw rabbit         NaN          NaN          NaN

     Unnamed: 12  Unnamed: 13
0            NaN          NaN
1            NaN          NaN
2            NaN          NaN
3            NaN          NaN
4            NaN          NaN
..           ...          ...
193          NaN          NaN
194          NaN          NaN
195          NaN          NaN
196          NaN          NaN
197          NaN          NaN

[198 rows x 14 columns]
      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    33.0          4            91         53    1795          17.4     76
1    20.0          6           225        100    3651          17.7     76
2    18.0          6           250         78    3574          21.0     76
3    18.5          6           250        110    3645          16.2     76
4    17.5          6           258         95    3193          17.8     76
..    ...        ...           ...        ...     ...           ...    ...
195  27.0          4           140         86    2790          15.6     82
196  44.0          4            97         52    2130          24.6     82
197  32.0          4           135         84    2295          11.6     82
198  28.0          4           120         79    2625          18.6     82
199  31.0          4           119         82    2720          19.4     82

     origin                 car
0         3         honda civic
1         1      dodge aspen se
2         1   ford granada ghia
3         1  pontiac ventura sj
4         1       amc pacer d/l
..      ...                 ...
195       1     ford mustang gl
196       2           vw pickup
197       1       dodge rampage
198       1         ford ranger
199       1          chevy s-10

[200 rows x 9 columns]

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [37]:
cars1=cars1.loc[:,"mpg":"car"]
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [38]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [39]:
cars=cars1.append(cars2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [44]:
owners = np.random.randint(15000, 73001, size=398, dtype='l')
owners

array([31117, 56339, 61301, 43752, 53716, 39581, 70423, 49401, 66594,
       47004, 17289, 33818, 28374, 47208, 45951, 20903, 59906, 66602,
       57920, 62231, 42141, 20813, 52721, 44028, 68278, 31902, 59835,
       66767, 28886, 17004, 27090, 62000, 33572, 27407, 65556, 31184,
       56350, 32736, 48302, 24568, 27443, 22704, 21214, 21357, 56917,
       70882, 72557, 19937, 30086, 54297, 35481, 61470, 31570, 59960,
       19332, 31090, 23541, 35230, 72845, 19298, 67447, 21378, 64322,
       44838, 33903, 41589, 36004, 59273, 30203, 50666, 29572, 71673,
       72761, 29915, 16678, 16556, 60171, 22049, 47307, 38523, 70731,
       47407, 39116, 59076, 25968, 34067, 34113, 34217, 31747, 66815,
       50182, 34477, 47381, 55398, 23601, 23814, 72697, 50863, 58190,
       32080, 38303, 56741, 31142, 53569, 32686, 26086, 21627, 72217,
       28431, 70751, 47636, 45474, 51060, 60756, 32419, 35780, 20017,
       35985, 56683, 50576, 57896, 37564, 29660, 69520, 30520, 55034,
       20810, 52375, 47543, 24078, 68570, 22847, 57162, 58121, 54444,
       57831, 67975, 28527, 71908, 28838, 65609, 71901, 72650, 60095,
       26002, 43995, 41399, 62569, 25017, 70440, 21884, 43905, 49214,
       33792, 32633, 26184, 24880, 15808, 61863, 49532, 37402, 22058,
       54030, 33444, 30220, 69910, 44984, 43217, 25235, 18296, 45715,
       17543, 47605, 44882, 57830, 69662, 17681, 41840, 41266, 23836,
       55440, 43669, 17410, 39976, 67044, 41345, 18356, 40703, 34859,
       34689, 51254, 68864, 69520, 72175, 72963, 37686, 15274, 61072,
       38085, 61500, 34781, 27622, 60120, 26915, 21784, 25034, 59129,
       36695, 47604, 63512, 52689, 47868, 40263, 31995, 71329, 35143,
       49472, 49149, 70388, 45916, 70378, 31272, 55416, 27286, 24618,
       39766, 64138, 60241, 43839, 36747, 16007, 53724, 65527, 31394,
       57590, 29655, 69629, 53493, 57583, 20353, 26107, 50218, 18678,
       43271, 28667, 71577, 64553, 18414, 66887, 52879, 53062, 33649,
       55221, 17240, 18573, 68459, 41178, 45201, 48407, 27369, 59684,
       38023, 42065, 68726, 24973, 46315, 16233, 65820, 19760, 67133,
       53359, 22213, 58593, 16939, 33658, 50607, 38488, 45551, 15101,
       66946, 39563, 31282, 34128, 22874, 37796, 59758, 61987, 50611,
       25002, 38072, 61845, 36005, 66096, 21237, 65218, 47760, 37262,
       45438, 22719, 41811, 38726, 37145, 20656, 18589, 57881, 62623,
       22084, 70727, 21069, 65857, 47416, 19897, 51402, 40621, 40795,
       26173, 63432, 51855, 31014, 64529, 23470, 39023, 70321, 27296,
       32845, 54733, 52828, 27508, 49688, 15808, 39747, 24260, 68721,
       26389, 65523, 35575, 63093, 16770, 70130, 54873, 27861, 55156,
       52328, 63603, 25784, 22140, 19861, 15265, 56231, 51796, 49529,
       69410, 29760, 56841, 66337, 33274, 46913, 60466, 40856, 34111,
       53462, 31101, 72673, 25562, 56223, 60361, 45225, 56150, 70634,
       59708, 23087, 30525, 52420, 32651, 35617, 62815, 29523, 20063,
       27581, 21829, 38063, 16028, 59209, 71363, 48474, 20139, 18285,
       22527, 27453, 17937, 72202, 52356, 16804, 25588, 38134, 62036,
       71218, 34437])

### Step 8. Add the column owners to cars

In [47]:
cars['owners']=owners
cars.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'owners'],
      dtype='object')