# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [87]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [88]:
wine=pd.read_csv('wine.data')
wine.head(10)

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
5,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
6,1,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295
7,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
8,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045
9,1,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [89]:
wine=wine.drop(wine.columns[[0,3,6,8,10,12,13]],axis=1)
wine.head(10)

   14.23  1.71  15.6  127  3.06  2.29  1.04
0  13.20  1.78  11.2  100  2.76  1.28  1.05
1  13.16  2.36  18.6  101  3.24  2.81  1.03
2  14.37  1.95  16.8  113  3.49  2.18  0.86
3  13.24  2.59  21.0  118  2.69  1.82  1.04
4  14.20  1.76  15.2  112  3.39  1.97  1.05
5  14.39  1.87  14.6   96  2.52  1.98  1.02
6  14.06  2.15  17.6  121  2.51  1.25  1.06
7  14.83  1.64  14.0   97  2.98  1.98  1.08
8  13.86  1.35  16.0   98  3.15  1.85  1.01
9  14.10  2.16  18.0  105  3.32  2.38  1.25

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [90]:
wine.columns=['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']
wine.head(10)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05
1,13.16,2.36,18.6,101,3.24,2.81,1.03
2,14.37,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05
5,14.39,1.87,14.6,96,2.52,1.98,1.02
6,14.06,2.15,17.6,121,2.51,1.25,1.06
7,14.83,1.64,14.0,97,2.98,1.98,1.08
8,13.86,1.35,16.0,98,3.15,1.85,1.01
9,14.10,2.16,18.0,105,3.32,2.38,1.25

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [91]:
wine[:3]=np.nan
wine.head(10)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.24,2.59,21.0,118.0,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05
5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
7,14.83,1.64,14.0,97.0,2.98,1.98,1.08
8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
9,14.10,2.16,18.0,105.0,3.32,2.38,1.25

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [92]:
wine[3:5]['magnesium']=np.nan
wine.head(10)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.24,2.59,21.0,118.0,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05
5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
7,14.83,1.64,14.0,97.0,2.98,1.98,1.08
8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
9,14.10,2.16,18.0,105.0,3.32,2.38,1.25

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [93]:
wine['alcohol'][10]=np.nan
wine['magnesium'][100]=np.nan
wine.head(15)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.24,2.59,21.0,118.0,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05
5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
7,14.83,1.64,14.0,97.0,2.98,1.98,1.08
8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
9,14.10,2.16,18.0,105.0,3.32,2.38,1.25
10,NaN,1.48,16.8,95.0,2.43,1.57,1.17
11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
12,14.75,1.73,11.4,91.0,3.69,2.81,1.25
13,14.38,1.87,12.0,102.0,3.64,2.96,1.20
14,13.63,1.81,17.2,112.0,2.91,1.46,1.28

### Step 9. Count the number of missing values

In [94]:
wine.isnull().sum()

alcohol              4
malic_acid           3
alcalinity_of_ash    3
magnesium            4
flavanoids           3
proanthocyanins      3
hue                  3
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [95]:
random=np.random.randint(0,11,10)
random

array([ 3,  7, 10, 10,  9, 10,  3,  6,  2,  7])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [96]:
wine['alcohol'][random]=np.nan
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2.59,21.0,118.0,2.69,1.82,1.04
4,14.2,1.76,15.2,112.0,3.39,1.97,1.05

### Step 12.  How many missing values do we have?

In [97]:
wine.isnull().sum()

alcohol              8
malic_acid           3
alcalinity_of_ash    3
magnesium            4
flavanoids           3
proanthocyanins      3
hue                  3
dtype: int64

### Step 13. Delete the rows that contain missing values

In [101]:

wine=wine.dropna(axis=0)
wine.head(10)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05
5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
12,14.75,1.73,11.4,91.0,3.69,2.81,1.25
13,14.38,1.87,12.0,102.0,3.64,2.96,1.20
14,13.63,1.81,17.2,112.0,2.91,1.46,1.28
15,14.30,1.92,20.0,120.0,3.14,1.97,1.07
16,13.83,1.57,20.0,115.0,3.40,1.72,1.13
17,14.19,1.59,16.5,108.0,3.93,1.86,1.23

### Step 14. Print only the non-null values in alcohol

In [102]:
print(wine[wine['alcohol']!=np.nan])

alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
4      14.20        1.76               15.2      112.0        3.39
5      14.39        1.87               14.6       96.0        2.52
8      13.86        1.35               16.0       98.0        3.15
11     13.75        1.73               16.0       89.0        2.76
12     14.75        1.73               11.4       91.0        3.69
..       ...         ...                ...        ...         ...
172    13.71        5.65               20.5       95.0        0.61
173    13.40        3.91               23.0      102.0        0.75
174    13.27        4.28               20.0      120.0        0.69
175    13.17        2.59               20.0      120.0        0.68
176    14.13        4.10               24.5       96.0        0.76

     proanthocyanins   hue
4               1.97  1.05
5               1.98  1.02
8               1.85  1.01
11              1.81  1.15
12              2.81  1.25
..               ...   ...
172             1.06  0.64
173             1.41  0.70
174             1.35  0.59
175             1.46  0.60
176             1.35  0.61

[168 rows x 7 columns]

### Step 15.  Reset the index, so it starts with 0 again

In [106]:
wine=wine.reset_index(drop=True)
wine.head(10)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.20,1.76,15.2,112.0,3.39,1.97,1.05
1,14.39,1.87,14.6,96.0,2.52,1.98,1.02
2,13.86,1.35,16.0,98.0,3.15,1.85,1.01
3,13.75,1.73,16.0,89.0,2.76,1.81,1.15
4,14.75,1.73,11.4,91.0,3.69,2.81,1.25
5,14.38,1.87,12.0,102.0,3.64,2.96,1.20
6,13.63,1.81,17.2,112.0,2.91,1.46,1.28
7,14.30,1.92,20.0,120.0,3.14,1.97,1.07
8,13.83,1.57,20.0,115.0,3.40,1.72,1.13
9,14.19,1.59,16.5,108.0,3.93,1.86,1.23

### BONUS: Create your own question and answer it.