# Exercise 9: Which stocks move together?

In the previous exercise, you clustered companies by their daily stock price movements.  So which company have stock prices that tend to change in the same way?  Now inspect the cluster labels from your clustering to find out.

From the course _Transition to Data Science_. [Buy the entire course for just $10](https://www.udemy.com/transition-to-data-science-in-python/?couponCode=CLUSTER-NBS) for many more exercises and helpful video lectures.

**Step 1:** Load the data _(written for you)_.

In [13]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Run your code from the previous exercise _(filled in for you)_.

In [14]:
companies = list(stocks_df.index)
movements = stocks_df.values

from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=14)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(memory=None,
         steps=[('normalizer', Normalizer(copy=True, norm='l2')),
                ('kmeans',
                 KMeans(algorithm='auto', copy_x=True, init='k-means++',
                        max_iter=300, n_clusters=14, n_init=10, n_jobs=None,
                        precompute_distances='auto', random_state=None,
                        tol=0.0001, verbose=0))],
         verbose=False)

**Step 3:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [15]:
labels = pipeline.predict(movements)
labels

array([ 9,  5, 13,  5,  6,  5,  1,  4,  6,  8,  2,  7,  2,  6, 12,  5,  3,
        9,  5,  1,  6,  4, 12,  6,  7,  6,  5,  8,  0,  6,  6,  0,  6,  7,
        4, 10,  6,  1,  0,  2,  8,  0,  1,  1,  2,  4,  1,  6,  4,  1,  7,
        7,  1,  2,  6,  5, 11,  2,  3, 13])

**Step 4:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [18]:
import pandas as pd
df = pd.DataFrame({'labels':labels,'companies':companies})
df

    labels                           companies
0        9                               Apple
1        5                                 AIG
2       13                              Amazon
3        5                    American express
4        6                              Boeing
5        5                     Bank of America
6        1            British American Tobacco
7        4                               Canon
8        6                         Caterpillar
9        8                   Colgate-Palmolive
10       2                      ConocoPhillips
11       7                               Cisco
12       2                             Chevron
13       6                   DuPont de Nemours
14      12                                Dell
15       5                                Ford
16       3                   General Electrics
17       9                     Google/Alphabet
18       5                       Goldman Sachs
19       1                     GlaxoSmithKline
20       6                          Home Depot
21       4                               Honda
22      12                                  HP
23       6                                 IBM
24       7                               Intel
25       6                   Johnson & Johnson
26       5                      JPMorgan Chase
27       8                      Kimberly-Clark
28       0                           Coca Cola
29       6                     Lookheed Martin
30       6                          MasterCard
31       0                           McDonalds
32       6                                  3M
33       7                           Microsoft
34       4                          Mitsubishi
35      10                            Navistar
36       6                    Northrop Grumman
37       1                            Novartis
38       0                               Pepsi
39       2                              Pfizer
40       8                      Procter Gamble
41       0                       Philip Morris
42       1                   Royal Dutch Shell
43       1                                 SAP
44       2                        Schlumberger
45       4                                Sony
46       1                      Sanofi-Aventis
47       6                            Symantec
48       4                              Toyota
49       1                               Total
50       7  Taiwan Semiconductor Manufacturing
51       7                   Texas instruments
52       1                            Unilever
53       2                       Valero Energy
54       6                            Walgreen
55       5                         Wells Fargo
56      11                            Wal-Mart
57       2                               Exxon
58       3                               Xerox
59      13                               Yahoo

**Step 5:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [24]:
df.labels.sort_values()

31     0
28     0
38     0
41     0
43     1
52     1
37     1
49     1
6      1
42     1
19     1
46     1
53     2
44     2
39     2
57     2
12     2
10     2
58     3
16     3
21     4
34     4
45     4
48     4
7      4
15     5
55     5
26     5
5      5
3      5
1      5
18     5
47     6
36     6
29     6
25     6
32     6
30     6
23     6
20     6
54     6
13     6
8      6
4      6
50     7
24     7
11     7
33     7
51     7
27     8
40     8
9      8
0      9
17     9
35    10
56    11
22    12
14    12
2     13
59    13
Name: labels, dtype: int32

**Great job!** Using k-means, you've discovered which companies stock prices move together on the stock exchange.