# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [104]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [105]:
chipo=pd.read_csv("D:/github_repo/python-learning/pandas_exercises_with_data/data/chipotle.tsv",sep='	')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [106]:
chipo[:10]
chipo.head(n=10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [107]:
# Solution 1
len(chipo)

4622

In [108]:
# Solution 2
chipo.info
np.shape(chipo)

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [109]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [110]:
print(chipo.columns)
list(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [111]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [112]:
x=chipo.groupby('item_name').sum()
z=x.sort_values(['quantity'],ascending=False)
z['quantity'].head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [113]:
x=chipo.groupby('item_name').sum()
x=x.sort_values(['quantity'],ascending=False)
print(x['quantity'].head(1))

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [114]:
y=chipo.groupby('choice_description').sum()
y=y.sort_values(['quantity'],ascending=False)
print(y['quantity'].head(1))

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [115]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [116]:
chipo['item_name'].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [117]:
#定义一个函数convert_currency，将$符号去掉
#def convert_currency(var):
 #   new_value=var.replace('$','')
  #  return float(new_value)
#chipo['item_price'].apply(convert_currency)

chipo['item_price'] = chipo['item_price'].apply(lambda x:x.replace('$','')).astype(np.float64)
#chipo['item_prince']=chipo['item_prince'].apply(lambda x:x.replace('$','')).astype(np.float)

#### Step 13.c. Check the item price type

In [118]:
chipo['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [119]:
(chipo['quantity']*chipo['item_price']).sum()

39237.02

### Step 15. How many orders were made in the period?

In [120]:
y=chipo.groupby(['order_id'])
y.ngroups

1834

### Step 16. What is the average revenue amount per order?

In [121]:
# Solution 1
chipo['revenue']=chipo['quantity']*chipo['item_price']
order_grouped = chipo.groupby('order_id').sum()
order_grouped.mean()['revenue']

21.394231188658654

In [124]:
# Solution 2
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [127]:
len(np.unique(chipo['item_name']))

50