# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

In [2]:
apple=pd.read_csv('appl_1980_2014.csv')

### Step 3. Assign it to a variable apple

In [3]:
apple

            Date   Open   High    Low  Close     Volume  Adj Close
0     2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
1     2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2     2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
3     2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
4     2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...          ...    ...    ...    ...    ...        ...        ...
8460  1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
8461  1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8462  1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8463  1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8464  1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 7 columns]

### Step 4.  Check out the type of the columns

In [4]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8465 entries, 0 to 8464
Data columns (total 7 columns):
Date         8465 non-null object
Open         8465 non-null float64
High         8465 non-null float64
Low          8465 non-null float64
Close        8465 non-null float64
Volume       8465 non-null int64
Adj Close    8465 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 463.1+ KB

### Step 5. Transform the Date column as a datetime type

In [5]:
apple['Date']=apple['Date'].astype('datetime64')
apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8465 entries, 0 to 8464
Data columns (total 7 columns):
Date         8465 non-null datetime64[ns]
Open         8465 non-null float64
High         8465 non-null float64
Low          8465 non-null float64
Close        8465 non-null float64
Volume       8465 non-null int64
Adj Close    8465 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 463.1 KB

### Step 6.  Set the date as the index

In [6]:
apple.set_index('Date')

             Open   High    Low  Close     Volume  Adj Close
Date
2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...           ...    ...    ...    ...        ...        ...
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 6 columns]

### Step 7.  Is there any duplicate dates?

In [7]:
apple['Date'].is_unique#没有重复日期

True

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [8]:
apple.sort_index(ascending=True)

           Date   Open   High    Low  Close     Volume  Adj Close
0    2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
1    2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2    2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
3    2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
4    2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...         ...    ...    ...    ...    ...        ...        ...
8460 1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
8461 1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8462 1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8463 1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8464 1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 7 columns]

### Step 9. Get the last business day of each month

In [9]:
apple=apple.set_index('Date')
apple_month = apple.resample('M').sum()
apple_month.head(10)

              Open    High     Low   Close     Volume  Adj Close
Date
1980-12-31  396.26  397.38  395.76  395.76  336212800       6.15
1981-01-31  666.85  668.36  664.75  664.75  152247200      10.37
1981-02-28  503.12  504.87  501.75  501.75   80404800       7.81
1981-03-31  548.63  550.37  546.40  546.40  175179200       8.53
1981-04-30  573.02  574.73  571.77  571.77  134232000       8.89
1981-05-31  581.04  583.76  579.90  579.90  147604800       9.05
1981-06-30  677.64  679.28  675.48  675.48  237641600      10.51
1981-07-31  537.60  539.70  536.24  536.24  166857600       8.35
1981-08-31  446.73  447.73  444.37  444.37  137155200       6.90
1981-09-30  382.65  383.75  380.76  380.76  185920000       5.95

### Step 10.  What is the difference in days between the first day and the oldest

In [10]:
print(apple_month[:1])
print(apple_month[403:404])
#print(apple_month.index.min())

Open    High     Low   Close     Volume  Adj Close
Date
1980-12-31  396.26  397.38  395.76  395.76  336212800       6.15
              Open    High     Low   Close     Volume  Adj Close
Date
2014-07-31  471.47  475.02  467.44  472.35  210918300     472.35

### Step 11.  How many months in the data we have?

In [11]:
len(apple_months.index)

NameError: name 'apple_months' is not defined

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

In [0]:
figsize = 13.5,9
figure, ax = plt.subplots(figsize=figsize)
plt.scatter(x=apple_month.index,y=apple_month['Adj Close'])
plt.show()

### BONUS: Create your own question and answer it.