# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [17]:
import numpy as np
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [18]:
a1=pd.Series(np.random.randint(0,5,100,'l'))
a2=pd.Series(np.random.randint(0,4,100,'l'))
a3=pd.Series(np.random.randint(10000,30000,100,'l'))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [19]:
series=pd.concat((a1,a2,a3),axis=1)
series.head(6)

   0  1      2
0  2  3  10189
1  2  3  21114
2  0  3  23828
3  2  0  23083
4  3  0  22219
5  0  2  28160

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [22]:
#series=pd.DataFrame(series,columns=['bedrs','bathrs','price_sqr_meter'])
series.head()
series.rename(columns={0:'bedrs',1:'bathrs',2:'price_sqr_meter'})

    bedrs  bathrs  price_sqr_meter
0       2       3            10189
1       2       3            21114
2       0       3            23828
3       2       0            23083
4       3       0            22219
..    ...     ...              ...
95      3       1            11491
96      3       1            20104
97      4       0            28851
98      1       0            12272
99      0       3            25415

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [32]:
bigcolumn=pd.concat((a1,a2,a3),axis=0)
bigcolumn.to_frame()
bigcolumn

0         2
1         2
2         0
3         2
4         3
      ...
95    11491
96    20104
97    28851
98    12272
99    25415
Length: 300, dtype: int32

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [35]:
bigcolumn.index.max()==99

True

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [43]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

0          2
1          2
2          0
3          2
4          3
       ...
295    11491
296    20104
297    28851
298    12272
299    25415
Length: 300, dtype: int32